@using WebApp.Controllers;
@{
	
    ViewData["Title"] = "Home page";

}
<div class="text-center">
    <img src="~/logon.png" />
	<h2 class="display-4">Смена Hash-функции</h2>
</div>

<form method="post" >
    <div class="text-center">
        	<h6 class="h6">Выберите Hash-функцию, на которую будут изменены все пароли в базе данных</h6>
    </div>
	<span class="login100-form-title p-b-15">
                    
                </span>

                <hr class="hr-double p-b-26">
                <span class="login100-form-title p-b-26">
                </span>

                 <div class="wrap-input1002 validate-input" >
        @if (HomeController.hash_func.Equals("md5"))
        {
            <input class="input1002" type="radio" name="hash" value="md5" checked="checked">
             <span class="focus-input100" data-placeholder="md5"></span>
        }
        else
        {
            <input class="input1002" type="radio" name="hash" value="md5">
            <span class="focus-input100" data-placeholder="md5"></span>
        }

                </div>
                 <div class="wrap-input1002 validate-input" >
        @if (HomeController.hash_func.Equals("PBKDF2"))
        {
            <input class="input1002" type="radio" name="hash" value="PBKDF2" checked="checked">
              <span class="focus-input100" data-placeholder="PBKDF2"></span>
        }
        else
        {
             <input class="input1002" type="radio" name="hash" value="PBKDF2">
               <span class="focus-input100" data-placeholder="PBKDF2"></span>
        }

               
              
                   
                </div>
            <div class="container-login100-form-btn">
                <div class="wrap-login100-form-btn">
                    <div class="login100-form-bgbtn"></div>
                    <button  class="login100-form-btn">
                        Поменять
                    </button>
                </div>
            </div>
</form>
 @if (ViewBag.Message != null)
    {
        <script type="text/javascript"  charset="utf-8">
            window.onload = function () {
                alert("@ViewBag.Message");
            };
        </script>
    }