@using KPO_Cursovaya.Models;
@model User;

@{
    ViewData["Title"] = "Редактирование";
}
<div class="text-center">
    <img src="~/logon.png" />
	<h2 class="display-4">Изменение пароля</h2>
</div>
<hr />
<form method="post" >
	<span class="login100-form-title p-b-15">
                    
                </span>

                <hr class="hr-double p-b-26">
                <span class="login100-form-title p-b-26">
                </span>
           
            <div class="wrap-input100 validate-input" data-validate="Enter password">
                <span class="btn-show-pass">
                    <i class="zmdi zmdi-eye"></i>
                </span>
                @*<input class="input100" type="password" name="pass">*@
                @Html.TextBoxFor(m => m.Password, new { @class = "input100", @type = "password" })
                <span class="focus-input100" data-placeholder="Пароль"></span>
            </div>
              <div class="wrap-input100 validate-input" data-validate="Enter password">
                <span class="btn-show-pass">
                    <i class="zmdi zmdi-eye"></i>
                </span>
                <input class="input100" type="password" name="pass_repeat">
                <span class="focus-input100" data-placeholder="Повторение пароля"></span>
            </div>
            <div class="container-login100-form-btn">
                <div class="wrap-login100-form-btn">
                    <div class="login100-form-bgbtn"></div>
                    <button  class="login100-form-btn">
                        Сохранить
                    </button>
                </div>
           </div>
</form>
 @if (ViewBag.Message != null)
    {
        <script type="text/javascript"  charset="utf-8">
            window.onload = function () {
                alert("@ViewBag.Message");
            };
        </script>
    }