@model DbData.Models.Request

@{
    ViewBag.Title = "Детали фотографии";
}

<style>
    .details-container {
        display: flex;
        padding: 10px;
    }

    .image-container,
    .text-container {
        flex: 1;
        padding: 10px;
    }

        .image-container img,
        .text-container h3 {
            border: 1px solid #ccc;
            padding: 10px;
            margin-bottom: 10px;
        }
</style>

<div class="details-container">
    <div class="image-container">
        <h1>Фотография</h1>
        <img src="@Model.Url" alt="Image" style="max-width: 100%;">
    </div>
    <div class="text-container">
        @if (!string.IsNullOrWhiteSpace(Model.Text))
        {
            <h1>Текст с фотографии</h1>
            <h3>@Model.Text</h3>
            @if (!string.IsNullOrWhiteSpace(Model.Text))
            {
                <h1>Выявленные сущности</h1>
                <h3>@Model.Text</h3>
            }
            else
            {
                <h1>Сущности в тексте отсутствуют, либо их невозможно определить</h1>
            }
        }
        else
        {
            <h1>Текст всё еще обрабатывается, либо его нет</h1>
        }
       
    </div>
</div>
